<form method="POST">
  <div class="card">
    <h5 class="card-header">
      Accounts Editor
    </h5>
    <div class="card-body">
      <div class="form-group">
        <label for="txtUserID" class="font-weight-bold">AccountID</label>
        <input type="text" class="form-control" id="txtUserID" name="UserID" value="{{this.account.UserID}}" readonly>
      </div>
      <div class="form-group">
        <label for="txtUserName" class="font-weight-bold">User Name</label>
        <input type="text" class="form-control" id="txtUserName" name="UserName" value="{{this.account.UserName}}"
          autofocus>
      </div>
      <div class="form-group" class="font-weight-bold">
        <label for="txtEmail" class="font-weight-bold">User Email</label>
        <input type="text" class="form-control" id="txtEmail" name="Email" value="{{this.account.Email}}"
          >
      </div>
      <div class="form-check form-group">
          <input name="isRePass" class="form-check-input" type="checkbox" value="true" id="flexCheckDefault">
          <label class="form-check-label" for="flexCheckDefault">
              <span class="font-weight-bold">Reset Password</span>  into '1234'
          </label>
      </div>
      <div class="form-group">
        <label for="txtSubID2" class="font-weight-bold">Current Permission</label>
        <input type="text" class="form-control" id="txtSubID2" name="CurrentPermission" value="{{this.account.current_permission}}" readonly>
      </div>
      <div class="form-group">
        <label for="permissionSelect" class="font-weight-bold">Change Permission Into</label>
        <select name="Permission" id="permissionSelect" class="form-control">
          <option value="0">Student</option>
          <option value="1">Lecturer</option>
          <option value="2">Admin</option>
        </select>
      </div>

    </div>
    <div class="card-footer text-muted">
      <a class="btn btn-outline-secondary" href="/admin/accounts" role="button">
        <i class="fa fa-backward" aria-hidden="true"></i>
        Back to List
      </a>

      {{#compare this.account.Permission  2 operator="!="}}
      {{#if this.account.isLocked}}
        <button type="submit" class="btn btn-outline-dark" formaction="/admin/accounts/unlock">
          <i class="fa fa-unlock" aria-hidden="true"></i>
          Unlock
        </button>
      {{else}}
        <button type="submit" class="btn btn-outline-dark" formaction="/admin/accounts/lock">
          <i class="fas fa-user-lock    "></i>
          Lock
        </button>
      {{/if}}
      {{/compare}}
      
      <button type="submit" class="btn btn-outline-dark" formaction="/admin/accounts/del">
        <i class="fas fa-user-alt-slash    "></i>
        Delete
      </button>
      <button type="submit" class="btn btn-dark" formaction="/admin/accounts/patch">
        <i class="fa fa-check" aria-hidden="true"></i>
        Save
      </button>
    </div>
  </div>
</form>
