{{#section 'css'}}
<style>
    .rotate {
        -moz-transition: all 0.3s linear;
        -webkit-transition: all 0.3s linear;
        transition: all 0.3s linear;
    }

    .bigStar>.fa {
        font-size: 1.25rem;
    }

    .fa-star,
    .fa-star-o,
    .fa-star-half-o {
        color: orange;
    }

    .reviewItem {
        display: flex;
        padding-bottom: 1rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
        border-bottom: gray;
        border-style: none none solid none;
    }

    .reviewItemAvatar {
        display: block;
        width: 9rem;
        height: 3rem;
        background-color: green;
        line-height: 3rem;
        margin-right: 1rem;
    }

    .sideBarMenu {
        margin-left: 60rem;
        position: fixed;
        z-index: 1;
        width: 25rem;
    }

    .rotate.down {
        -ms-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }

    .previewButton {}
</style>
{{/section}}

{{#section 'js'}}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
</script>
<script>


    $(".collapsed").click(function () {
        $(this).children('.rotate').toggleClass("down");
    })

    function changeDisplay() {
        var scroll = $(window).scrollTop();

        if (scroll >= 200) {
            $('#sideBar').removeClass('position-absolute')
                .addClass("sticky-top");
        } else {
            $('#sideBar').removeClass("sticky-top")
                .addClass('position-absolute');
        }

        setTimeout(changeDisplay, 10)
    }
    $(function () {
        changeDisplay();
    })
</script>
{{/section}}

{{#each this.course}}



<div class="mainContent">
    <div id="sideBar" class="position-absolute sideBarMenu shadow">
        <div class="card text-left">
            <div class="card-body">
                <div class="card-title d-flex">
                    {{#compare SalePrice -1}}
                    <h1 class="d-flex">
                        <b>${{formatMoney Price}}&nbsp;</b>
                    </h1>
                    {{/compare}}
                    {{#compare SalePrice -1 operator=">"}}
                    h1 class="d-flex">
                    <b>${{formatMoney SalePrice}}&nbsp;</b>
                    </h1>
                    <h6 class="d-flex" style="line-height: 3rem;">
                        <del>${{formatMoney Price}}</del>&nbsp;
                    </h6>
                    {{/compare}}


                </div>
                <p class="card-text">
                    <button class="btn btn-danger w-100 my-3">
                        <b>Add to cart</b>
                    </button>
                    <button class="btn btn-outline-primary w-100 ">
                        <b>Buy now</b>
                    </button>
                </p>
            </div>
        </div>
    </div>
    <div class="topContainer">
        <div class="card text-white bg-dark">
            <div class="card-body" style="margin: 4rem 39rem 1rem 8rem;">
                <h1 class="card-title">{{CourseName}}</h1>
                <div style="color: orange;">{{formatRate rate}}
                    {{> ratingStar}}
                    <span style="color: white;">({{formatCount totalRates}} ratings)</span>
                    <span style="color: white;">{{formatCount StudentCount}} students</span>
                </div>
                <div class="teacher">
                    <p>Created by <a href="#lecturer">{{lecturerName}}</a></p>
                </div>
                <div>
                    <p> <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                        Last updated 12/2020
                    </p>
                    <p>
                    <form id="frmWishlist" action="/course/addWishlist" method="post">
                        <input type="text" class="d-none" name="CourseID" value="{{CourseID}}">
                        <input type="text" class="d-none" name="CourseName" value="{{CourseName}}">
                        <input type="text" class="d-none" name="isInWishlist" value="{{../isInWishlist}}">
                        <button type="submit" class="btn btn-outline-dark border-white text-white">
                            Wishlist
                            {{#if ../isInWishlist}}
                            <i class="fa fa-heart" style="color: red;" aria-hidden="true"></i>
                            {{else}}
                            <i class="fa fa-heart-o" aria-hidden="true"></i>
                            {{/if}}
                        </button>
                    </form>
                    </p>
                </div>
            </div>

        </div>
    </div>
    <div class="botContainer" style="margin: 1rem 39rem 1rem 8rem;">
        <div class="card border-dark" style="background-color: whitesmoke; max-height: 500px;">
            <div class="card-body" style="display: inline-block;">
                <h4 class="card-title">What you'll learn</h4>
                <ul class="d-flex" style="list-style-type:none;flex-flow: row wrap;">
                    {{#each fulldes}}
                    <li class="d-flex" style="font-size: .9rem; padding-right: 1rem;">
                        <div class="d-flex" style="width: 280px;max-height: 100px;">
                            <i class="fa fa-check mt-1" aria-hidden="true"></i>
                            <p class="text-justify ml-1"
                                style="white-space: normal; text-overflow: ellipsis; overflow-y: hidden; ">
                                {{FullDes}}</p>
                        </div>
                    </li>
                    {{/each}}

                </ul>
            </div>

        </div>
        <div class="description mt-4">
            <h4>Description</h4>
            <p>With so many different interior design styles available today, do you find yourself getting overwhelmed
                and unsure of how to choose a style or pull off a style well in your own home? It becomes even more
                complicated when you want to mix different interior design styles but are unsure of how to do that so it
                looks fabulous and well pulled together, instead of flat out chaotic. <br>

                To that end, this course has been created to help you understand the defining characteristics of 18
                different popular interior design styles today so that you can either create one of those styles in your
                own home or learn how to easily and effectively mix different styles on your own. <br>

                Please note that this course only covers the characteristics of various interior design styles. It does
                NOT provide information on how to pull together a room (e.g., furniture layouts, rug sizes, etc.). That
                information can be found in my course "How to Design a Room in 10 Easy Steps"
            </p>
        </div>
        <div class="courseContent mt-4">
            <h4>Course content</h4>
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div id="accordion">
                    {{#each content}}
                    <div class="card">
                        <div class="card-header" id="heading{{ContentID}}">
                            <h5 class="mb-0">
                                <button class="btn btn-outline-light collapsed w-100 text-dark text-left"
                                    data-toggle="collapse" data-target="#collapse{{ContentID}}" aria-expanded="true"
                                    aria-controls="collapse{{ContentID}}">
                                    <i class="fa fa-arrow-down rotate"
                                        style="animation-duration: 1s;animation-fill-mode: forwards;"></i>
                                    {{ContentName}}
                                </button>
                            </h5>
                        </div>
                        <div id="collapse{{ContentID}}" class="collapse" aria-labelledby="heading{{ContentID}}">
                            {{#each lecture}}
                            <div class="card-body my-0">
                                {{#if Preview}}
                                <button class="btn previewButton btn-link ml-1">
                                    <i class="fa fa-play-circle" aria-hidden="true"></i>
                                    {{LectureName}}
                                </button>
                                {{else}}
                                <span class="ml-sm-3">
                                    <i class="fa fa-play-circle" aria-hidden="true"></i>
                                    {{LectureName}}
                                </span>

                                {{/if}}

                            </div>
                            {{/each}}
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>

        </div>
        <div class="lecturer  mt-4">
            <h4>Lecturer </h4>
            <h5> <a name="" id="lecturer" href="#" role="button">{{lecturerName}}</a></h5>
            <div class="d-flex">
                <a href="#">
                    <img src="/public/images/courses/1/main.jpg" style="width: 150px;height: 150px;"
                        class="rounded-circle" alt="">
                </a>
                <ul style="list-style-type: none;">
                    <li class="my-2">
                        <i class="fa fa-star mx-1" style="color: orange;" aria-hidden="true"></i>
                        <span>
                            4.6 Lecturer Rating
                        </span>
                    </li>
                    <li class="my-2">
                        <i class="fa fa-certificate mx-1" style="color: orange;" aria-hidden="true"></i>
                        <span>
                            687,667 Reviews
                        </span>
                    </li>
                    <li class="my-2">
                        <i class="fa fa-users mx-1" style="color: orange;" aria-hidden="true"></i>
                        <span>
                            {{formatCount StudentCount}} Students
                        </span>
                    </li>
                    <li class="my-2">
                        <i class="fa fa-play-circle mx-1" style="color: orange;" aria-hidden="true"></i>
                        <span>
                            31 Courses
                        </span>
                    </li>
                </ul>
            </div>
            <p>
                Jose Marcial Portilla has a BS and MS in Mechanical Engineering from Santa Clara University and years of
                experience as a professional instructor and trainer for Data Science and programming. He has
                publications and patents in various fields such as microfluidics, materials science, and data science
                technologies. Over the course of his career he has developed a skill set in analyzing data and he hopes
                to use his experience in teaching and data science to help other people learn the power of programming
                the ability to analyze data, as well as present the data in clear and beautiful visualizations.
                Currently he works as the Head of Data Science for Pierian Data Inc. and provides in-person data science
                and python programming training courses to employees working at top companies, including General
                Electric, Cigna, The New York Times, Credit Suisse, McKinsey and many more. Feel free to contact him on
                LinkedIn for more information on in-person training sessions or group training sessions in Las Vegas,
                NV.
            </p>
        </div>
        <div class="studentFeedback mt-4">
            <h4>Student Feedback</h4>
            <div class="d-flex">
                <div class="d-inline-block">
                    <h1 class="text-center px-2" style="font-size: 4.8rem; color: orange;">{{formatRate rate}}</h1>
                    <p class="text-center bigStar">
                        {{> ratingStar}}
                    </p>
                    <p class="text-center">
                        Course Rating
                    </p>
                </div>
                <div class="d-block w-100">
                    <div class="d-flex flex-row mt-2">
                        <div class="progress ml-3" style="width: 500px;">
                            <div class="progress-bar" role="progressbar" style="width: 54%" aria-valuenow="28"
                                aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <span class="d-inline-flex float-right mx-2">
                            <i class="fa fa-star float-right" aria-hidden="true"></i>
                            <i class="fa fa-star float-right" aria-hidden="true"></i>
                            <i class="fa fa-star float-right" aria-hidden="true"></i>
                            <i class="fa fa-star float-right" aria-hidden="true"></i>
                            <i class="fa fa-star float-right" aria-hidden="true"></i>
                        </span>
                        <span style="margin-top: -.3rem;">
                            54%
                        </span>
                    </div>
                    <div class="d-flex flex-row mt-2">
                        <div class="progress ml-3" style="width: 500px;">
                            <div class="progress-bar" role="progressbar" style="width: 54%" aria-valuenow="28"
                                aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <span class="d-inline-flex float-right mx-2" style="color: orange;">
                            <i class="fa fa-star float-right" aria-hidden="true"></i>
                            <i class="fa fa-star float-right" aria-hidden="true"></i>
                            <i class="fa fa-star float-right" aria-hidden="true"></i>
                            <i class="fa fa-star float-right" aria-hidden="true"></i>
                            <i class="fa fa-star-o float-right" aria-hidden="true"></i>
                        </span>
                        <span style="margin-top: -.3rem;">
                            54%
                        </span>
                    </div>
                    <div class="d-flex flex-row mt-2">
                        <div class="progress ml-3" style="width: 500px;">
                            <div class="progress-bar" role="progressbar" style="width: 54%" aria-valuenow="28"
                                aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <span class="d-inline-flex float-right mx-2" style="color: orange;">
                            <i class="fa fa-star float-right" aria-hidden="true"></i>
                            <i class="fa fa-star float-right" aria-hidden="true"></i>
                            <i class="fa fa-star float-right" aria-hidden="true"></i>
                            <i class="fa fa-star-o float-right" aria-hidden="true"></i>
                            <i class="fa fa-star-o float-right" aria-hidden="true"></i>
                        </span>
                        <span style="margin-top: -.3rem;">
                            54%
                        </span>
                    </div>
                    <div class="d-flex flex-row mt-2">
                        <div class="progress ml-3" style="width: 500px;">
                            <div class="progress-bar" role="progressbar" style="width: 54%" aria-valuenow="28"
                                aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <span class="d-inline-flex float-right mx-2" style="color: orange;">
                            <i class="fa fa-star float-right" aria-hidden="true"></i>
                            <i class="fa fa-star float-right" aria-hidden="true"></i>
                            <i class="fa fa-star-o float-right" aria-hidden="true"></i>
                            <i class="fa fa-star-o float-right" aria-hidden="true"></i>
                            <i class="fa fa-star-o float-right" aria-hidden="true"></i>
                        </span>
                        <span style="margin-top: -.3rem;">
                            54%
                        </span>
                    </div>
                    <div class="d-flex flex-row mt-2">
                        <div class="progress ml-3" style="width: 500px;">
                            <div class="progress-bar" role="progressbar" style="width: 54%" aria-valuenow="28"
                                aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <span class="d-inline-flex float-right mx-2" style="color: orange;">
                            <i class="fa fa-star float-right" aria-hidden="true"></i>
                            <i class="fa fa-star-o float-right" aria-hidden="true"></i>
                            <i class="fa fa-star-o float-right" aria-hidden="true"></i>
                            <i class="fa fa-star-o float-right" aria-hidden="true"></i>
                            <i class="fa fa-star-o float-right" aria-hidden="true"></i>
                        </span>
                        <span style="margin-top: -.3rem;">
                            54%
                        </span>
                    </div>


                </div>

            </div>
        </div>
        <div class="reviews my-4">
            <h4>Reviews</h4>
            <div class="reviewItem">
                <div class="reviewItemAvatar text-center text-white align-content-center rounded-circle">
                    HT
                </div>
                <div>
                    <div>
                        <b>
                            Pratik Mahajan
                        </b>
                    </div>
                    <div>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                    </div>
                    <div>
                        Amazing course specially for someone who has no idea about Python. This course starts from very
                        basic and slowly goes into advanced topics in a very detailed manner. There are lot of hands-on
                        exercises to assess your learning and real-world projects to apply your knowledge. Thanks for
                        this course
                    </div>
                </div>
            </div>
            <div class="reviewItem">
                <div class="reviewItemAvatar text-center text-white align-content-center rounded-circle">
                    RT
                </div>
                <div>
                    <div>
                        <b>
                            Pratik Mahajan
                        </b>
                    </div>
                    <div>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                    </div>
                    <div>
                        Amazing course specially for someone who has no idea about Python. This course starts from very
                        basic and slowly goes into advanced topics in a very detailed manner. There are lot of hands-on
                        exercises to assess your learning and real-world projects to apply your knowledge. Thanks for
                        this course
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{/each}}