{{#section 'css'}}
<style>
    .rotate {
        -moz-transition: all 0.3s linear;
        -webkit-transition: all 0.3s linear;
        transition: all 0.3s linear;
    }

    .bigStar>.fa {
        font-size: 1.25rem;
    }

    .fa-star,
    .fa-star-o,
    .fa-star-half-o {
        color: orange;
    }

    .reviewItem {
        display: flex;
        padding-bottom: 1rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
        border-bottom: gray;
        border-style: none none solid none;
    }

    .reviewItemAvatar {
        display: block;
        height: 3rem;
        background-color: green;
        line-height: 3rem;
        margin-right: 1rem;
    }

    .sideBarMenu {
        margin-left: 60rem;
        position: fixed;
        z-index: 1;
        width: 25rem;
    }

    .rotate.down {
        -ms-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }

    .previewButton {}
</style>
{{/section}}

{{#section 'js'}}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script>
    $(".collapsed").click(function () {
        $(this).children('.rotate').toggleClass("down");
    })

    function changeDisplay() {
        var scroll = $(window).scrollTop();

        if (scroll >= 200) {
            $('#sideBar').removeClass('position-absolute')
                .addClass("sticky-top");
        } else {
            $('#sideBar').removeClass("sticky-top")
                .addClass('position-absolute');
        }

        setTimeout(changeDisplay, 10)
    }
    $(function () {
        changeDisplay();
    })


    $('#buy').on('click', function () {
        Swal.fire({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            icon: 'info',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, Buy it!'
        }).then((result) => {
            if (result.isConfirmed) {
                Swal.fire({
                    title: 'Success!',
                    text: "You have bought this course.",
                    icon: 'success',
                    showCancelButton: false,
                    confirmButtonColor: '#3085d6',
                    confirmButtonText: 'OK!'
                }).then((result) => {
                    $('#frmBuy').submit();
                })

            }
        })
    })

    $('#buyNotAuth').on('click', function () {
        $('#frmBuy').submit();
    })

</script>
{{/section}}

{{#each this.course}}
<div class="mainContent">

    {{#if ../isBought}}

    {{else}}
    <div id="sideBar" class="position-absolute sideBarMenu shadow">
        <div class="card text-left">
            <div class="card-body">
                <div class="card-title d-flex">
                    {{#compare SalePrice -1}}
                    <h1 class="d-flex">
                        <b>${{formatMoney Price}}&nbsp;</b>
                    </h1>
                    {{/compare}}
                    {{#compare SalePrice -1 operator=">"}}
                    <h1 class="d-flex">
                        <b>${{formatMoney SalePrice}}&nbsp;</b>
                    </h1>
                    <h6 class="d-flex" style="line-height: 3rem;">
                        <del>${{formatMoney Price}}</del>&nbsp;
                    </h6>
                    {{/compare}}
                </div>
                <p class="card-text">
                    {{#if ../isInCart}}
                    <a name="" id="" class="btn btn-danger w-100 mt-sm-4" href="/cart" role="button"><b>Go to
                            cart</b></a>
                    {{else}}
                <form action="/cart/add" method="post">
                    <input type="text" name="CourseName" hidden value="{{CourseName}}">
                    <button class="btn btn-danger w-100 my-3" type="submit"><b>Add to cart</b></button>
                </form>
                {{/if}}

                <form id="frmBuy" action="/cart/buy/{{CourseName}}" method="post">
                </form>
                <button id="{{#if ../isAuth}}buy{{else}}buyNotAuth{{/if}}" class="btn btn-outline-primary w-100"><b>Buy
                        now</b></button>

                </p>
            </div>
        </div>
    </div>
    {{/if}}

    <div class="topContainer">
        <div class="card text-white bg-dark">
            <div class="card-body" style="margin: {{#if ../isBought}}
    4rem 8rem 4rem 8rem
{{else}}
    4rem 39rem 1rem 8rem
{{/if}};">
                <h1 class="card-title">{{CourseName}}</h1>
                <h5 class="card-title">{{ShortDes}}</h5>
                <div style="color: orange;">{{formatRate rate}}
                    {{> ratingStar}}
                    <span style="color: white;">({{formatCount totalRates}} ratings)</span>
                    <span style="color: white;">{{formatCount StudentCount}} students</span>
                </div>
                <div class="teacher">
                    <p>Created by <a href="#lecturer">{{lecturerName}}</a></p>
                </div>
                <div>
                    <p> <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                        Last updated {{UpdatedDate}}
                    </p>
                    <p>
                    <form id="frmWishlist" action="/course/addWishlist" method="post">
                        <input type="text" class="d-none" name="CourseID" value="{{CourseID}}">
                        <input type="text" class="d-none" name="CourseName" value="{{CourseName}}">
                        <input type="text" class="d-none" name="isInWishlist" value="{{../isInWishlist}}">
                        <button type="submit" class="btn btn-outline-dark border-white text-white">
                            Wishlist
                            {{#if ../isInWishlist}}
                            <i class="fa fa-heart" style="color: red;" aria-hidden="true"></i>
                            {{else}}
                            <i class="fa fa-heart-o" aria-hidden="true"></i>
                            {{/if}}
                        </button>
                    </form>
                    </p>
                </div>
            </div>

        </div>
    </div>
    <div class="botContainer" style="margin: {{#if ../isBought}}
    4rem 8rem 4rem 8rem
{{else}}
    4rem 39rem 1rem 8rem
{{/if}};">
        <h4>Description</h4>

        {{{Description}}}

        <div class="courseContent mt-4">
            <h4>Course content</h4>
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div id="accordion">
                    {{#each content}}
                    <div class="card">
                        <div class="card-header" id="heading{{ContentID}}">
                            <h5 class="mb-0">
                                <button class="btn btn-outline-light collapsed w-100 text-dark text-left"
                                    data-toggle="collapse" data-target="#collapse{{ContentID}}" aria-expanded="true"
                                    aria-controls="collapse{{ContentID}}">
                                    <i class="fa fa-arrow-down rotate"
                                        style="animation-duration: 1s;animation-fill-mode: forwards;"></i>
                                    {{ContentName}}
                                </button>
                            </h5>
                        </div>
                        <div id="collapse{{ContentID}}" class="collapse" aria-labelledby="heading{{ContentID}}">
                            {{#each lecture}}
                            <div class="card-body my-0">
                                {{#if Preview}}
                                <button class="btn previewButton btn-link ml-1">
                                    <i class="fa fa-play-circle" aria-hidden="true"></i>
                                    {{LectureName}}
                                </button>
                                {{else}}
                                <span class="ml-sm-3">
                                    <i class="fa fa-play-circle" aria-hidden="true"></i>
                                    {{LectureName}}
                                </span>

                                {{/if}}

                            </div>
                            {{/each}}
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>

        </div>
        <div class="lecturer  mt-4">
            <h4>Lecturer </h4>
            <h5> <a name="" id="lecturer" href="#" role="button">{{lecturerName}}</a></h5>
            <div class="d-flex">
                <a href="#">
                    <img src="/public/images/user.png" style="width: 150px;height: 150px;" class="rounded-circle"
                        alt="">
                </a>
                <ul style="list-style-type: none;">
                    <li class="my-2">
                        <i class="fa fa-star mx-1" style="color: orange;" aria-hidden="true"></i>
                        <span>
                            {{formatRate ../countRating}} Lecturer Rating
                        </span>
                    </li>
                    <li class="my-2">
                        <i class="fa fa-certificate mx-1" style="color: orange;" aria-hidden="true"></i>
                        <span>
                            {{formatCount ../countReview}} Reviews
                        </span>
                    </li>
                    <li class="my-2">
                        <i class="fa fa-users mx-1" style="color: orange;" aria-hidden="true"></i>
                        <span>
                            {{formatCount StudentCount}} Students
                        </span>
                    </li>
                    <li class="my-2">
                        <i class="fa fa-play-circle mx-1" style="color: orange;" aria-hidden="true"></i>
                        <span>
                            {{formatCount ../countCourse}} Courses
                        </span>
                    </li>
                </ul>
            </div>

        </div>
        <div class="studentFeedback mt-4">
            <h4>Student Feedback</h4>
            <div class="d-flex">
                <div class="d-inline-block">
                    <h1 class="text-center px-2" style="font-size: 4.8rem; color: orange;">{{formatRate rate}}</h1>
                    <p class="text-center bigStar">
                        {{> ratingStar}}
                    </p>
                    <p class="text-center">
                        Course Rating
                    </p>
                </div>
                <div class="d-block w-100">
                    <div class="d-flex flex-row mt-2">
                        <div class="progress ml-3" style="width: 500px;">
                            <div class="progress-bar" role="progressbar" style="width: 54%" aria-valuenow="28"
                                aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <span class="d-inline-flex float-right mx-2">
                            <i class="fa fa-star float-right" aria-hidden="true"></i>
                            <i class="fa fa-star float-right" aria-hidden="true"></i>
                            <i class="fa fa-star float-right" aria-hidden="true"></i>
                            <i class="fa fa-star float-right" aria-hidden="true"></i>
                            <i class="fa fa-star float-right" aria-hidden="true"></i>
                        </span>
                        <span style="margin-top: -.3rem;">
                            54%
                        </span>
                    </div>
                    <div class="d-flex flex-row mt-2">
                        <div class="progress ml-3" style="width: 500px;">
                            <div class="progress-bar" role="progressbar" style="width: 54%" aria-valuenow="28"
                                aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <span class="d-inline-flex float-right mx-2" style="color: orange;">
                            <i class="fa fa-star float-right" aria-hidden="true"></i>
                            <i class="fa fa-star float-right" aria-hidden="true"></i>
                            <i class="fa fa-star float-right" aria-hidden="true"></i>
                            <i class="fa fa-star float-right" aria-hidden="true"></i>
                            <i class="fa fa-star-o float-right" aria-hidden="true"></i>
                        </span>
                        <span style="margin-top: -.3rem;">
                            54%
                        </span>
                    </div>
                    <div class="d-flex flex-row mt-2">
                        <div class="progress ml-3" style="width: 500px;">
                            <div class="progress-bar" role="progressbar" style="width: 54%" aria-valuenow="28"
                                aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <span class="d-inline-flex float-right mx-2" style="color: orange;">
                            <i class="fa fa-star float-right" aria-hidden="true"></i>
                            <i class="fa fa-star float-right" aria-hidden="true"></i>
                            <i class="fa fa-star float-right" aria-hidden="true"></i>
                            <i class="fa fa-star-o float-right" aria-hidden="true"></i>
                            <i class="fa fa-star-o float-right" aria-hidden="true"></i>
                        </span>
                        <span style="margin-top: -.3rem;">
                            54%
                        </span>
                    </div>
                    <div class="d-flex flex-row mt-2">
                        <div class="progress ml-3" style="width: 500px;">
                            <div class="progress-bar" role="progressbar" style="width: 54%" aria-valuenow="28"
                                aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <span class="d-inline-flex float-right mx-2" style="color: orange;">
                            <i class="fa fa-star float-right" aria-hidden="true"></i>
                            <i class="fa fa-star float-right" aria-hidden="true"></i>
                            <i class="fa fa-star-o float-right" aria-hidden="true"></i>
                            <i class="fa fa-star-o float-right" aria-hidden="true"></i>
                            <i class="fa fa-star-o float-right" aria-hidden="true"></i>
                        </span>
                        <span style="margin-top: -.3rem;">
                            54%
                        </span>
                    </div>
                    <div class="d-flex flex-row mt-2">
                        <div class="progress ml-3" style="width: 500px;">
                            <div class="progress-bar" role="progressbar" style="width: 54%" aria-valuenow="28"
                                aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <span class="d-inline-flex float-right mx-2" style="color: orange;">
                            <i class="fa fa-star float-right" aria-hidden="true"></i>
                            <i class="fa fa-star-o float-right" aria-hidden="true"></i>
                            <i class="fa fa-star-o float-right" aria-hidden="true"></i>
                            <i class="fa fa-star-o float-right" aria-hidden="true"></i>
                            <i class="fa fa-star-o float-right" aria-hidden="true"></i>
                        </span>
                        <span style="margin-top: -.3rem;">
                            54%
                        </span>
                    </div>


                </div>

            </div>
        </div>

        <div class="reviews my-4">
            <h4>Reviews</h4>
            <div class="reviewItem">
                <div class="reviewItemAvatar text-center text-white align-content-center rounded-circle" style="width: {{#if ../isBought}}
        6rem
        {{else}}
        9rem
        {{/if}};">
                    HT
                </div>
                <div>
                    <div>
                        <b>
                            Pratik Mahajan
                        </b>
                    </div>
                    <div>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                    </div>
                    <div>
                        Amazing course specially for someone who has no idea about Python. This course starts from very
                        basic and slowly goes into advanced topics in a very detailed manner. There are lot of hands-on
                        exercises to assess your learning and real-world projects to apply your knowledge. Thanks for
                        this course
                    </div>
                </div>
            </div>
            <div class="reviewItem">
                <div class="reviewItemAvatar text-center text-white align-content-center rounded-circle">
                    RT
                </div>
                <div>
                    <div>
                        <b>
                            Pratik Mahajan
                        </b>
                    </div>
                    <div>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                    </div>
                    <div>
                        Amazing course specially for someone who has no idea about Python. This course starts from very
                        basic and slowly goes into advanced topics in a very detailed manner. There are lot of hands-on
                        exercises to assess your learning and real-world projects to apply your knowledge. Thanks for
                        this course
                    </div>
                </div>
            </div>
        </div>

        <h4>Top 5 Course In Same Category</h4>
        <div class="col-sm">
            {{#each fiveCourse}}
            <a class="btn card text-left d-inline-flex" style="width: 15.1rem;height: 27rem;"
                href="/course/{{CourseName}}" role="button">
                <img src="/public/{{CourseImage}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h6 class="card-title">{{CourseName}}</h6>
                    <p style="font-size: 0.8rem;">{{lecturerName}}</p>
                    <p style="font-size: 0.8rem;color: orange;">
                        <span style="color:rgb(189, 125, 8)">{{formatRate rate}} </span>
                        {{> ratingStar}}
                        <i>({{formatCount StudentCount}})</i>
                    </p>
                    <p style="font-size: 0.8rem;">
                        {{#compare SalePrice -1}}
                        <b> ${{formatMoney Price}}</b><br><br>
                        {{/compare}}
                        {{#compare SalePrice -1 operator=">"}}
                        <b> ${{formatMoney SalePrice}}</b><br><br>
                        <del>${{formatMoney Price}}</del>
                        {{/compare}}
                    </p>
                </div>
            </a>
            {{/each}}
        </div>
    </div>


</div>
</div>
{{/each}}