<div class="card">
  <h5 class="card-header">
    Courses
  </h5>
  {{#if this.empty}}
  <div class="card-body">
    <p class="card-text">Không có dữ liệu.</p>
  </div>
  {{else}}
  <form method="POST">
      <div class="card-body">
        <div class="row">
        {{#each this.courses}}
        <div class="col-sm-4 mb-3">
            <div class="form-group collapse">
                <label for="txtCourseID">CourseID</label>
                <input type="text" class="form-control" id="txtCourseID" name="CourseID" value="{{CourseID}}" readonly>
            </div>
            <div class="card h-100">
            <img src="/public/{{CourseImage}}" class="card-img-top" alt="{{CourseName}}"
                title="{{CourseName}}">
            <div class="card-body">
                <h6 class="card-title">{{CourseName}}</h6>
                {{!-- <h5 class="card-title text-danger">{{formatMoney Price}}</h5> --}}
                {{#each lecturers}}
                    <span class="badge bg-dark text-light">{{LecturerName}}</span>
                {{/each}}
                <p class="card-text">
                {{ShortDes}}
                </p>
                
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-outline-dark" formaction="/admin/courses/del/{{CourseID}}" {{#if this.isActive}}disabled{{/if}}>
                    <i class="fa fa-trash" aria-hidden="true"></i>
                    Delete
                </button>
            </div>
            </div>
        </div>
        
        {{/each}}
        </div>
    </div>
  </form>
  
  {{/if}}
  <div class="card-footer text-muted">
    Footer
  </div>
</div>