{{#section 'css'}}
<style>
    .mainContent {
        margin: 4rem 8rem;
    }

    .content {
        margin-top: 1rem;
    }

    a:hover {
        text-decoration: none;
        color: black;
    }

    .courseCard {
        border-bottom: whitesmoke;
        margin-top: 1rem;
        padding-bottom: 1rem;
        border-style: none none solid none;
        display: flex;
    }

    .courseName {
        font-size: 1.4rem;
        color: lightslategray;
    }

    .info>div>p {
        color: black;

    }

    .info>.courseCost {
        line-height: 0.7rem;
    }

    .instructor {
        color: gray;
    }

    .rate {
        color: orange;
        font-size: 1.2rem;
        line-height: 1rem;
    }

    .rateCount {
        color: gray;
        line-height: 1rem;
        margin-left: 1rem;
    }

    .img {
        width: 30rem;
        height: 17rem;
        margin-right: 1rem;
    }

    img {
        width: 100%
    }
</style>
{{/section}}
<div class="mainContent">
    {{#if this.empty}}
    <h1>Khong co du lieu</h1>
    {{else}}
    <h1>All {{#each this.category}}
        {{CategoryName}} {{SubcategoryName}}
        {{/each}} Courses</h1>
    {{/if}}
    <div class="content">
        {{#each this.course}}

        <a name="" id="" class="" href="/course/{{CourseName}}" role="button">
            <div class="courseCard">
                <div class="img">
                    <img src="/public/{{CourseImage}}" alt="">
                </div>
                <div class="info w-100 d-flex">
                    <div style="padding-right: 20rem;">
                        <p><b class="courseName">{{CourseName}}</b></p>
                        <p class="category">{{catName}}</p>
                        <p class="instructor">
                            {{lecturerName}}
                        </p>
                        <div class="d-block">
                            <div class="rate d-flex text-center">
                                <b>4.6</b>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star-half-o" aria-hidden="true"></i>
                                <div class="rateCount">
                                    ({{formatCount StudentCount}})
                                </div>
                            </div>
                            <p class="badge badge-warning mt-5 text-left d-inline-block ">Bestseller</p>
                        </div>
                    </div>
                    <div class="courseCost d-flex mt-4 text-right">
                        <p>
                            {{#if SalePrice}}
                            <b> ${{formatMoney SalePrice}}</b><br><br>
                            <del>${{formatMoney Price}}</del>
                            {{else}}
                            <b> ${{formatMoney Price}}</b><br><br>
                            {{/if}}

                        </p>
                    </div>
                </div>
            </div>
        </a>
        {{/each}}

    </div>
</div>