{{#section 'css'}}
<style>
    .mainContent {
        margin: 4rem 8rem;
    }

    .content {
        margin-top: 1rem;
    }

    a:hover {
        text-decoration: none;
        color: black;
    }

    .courseCard {
        border-bottom: whitesmoke;
        margin-top: 1rem;
        padding-bottom: 1rem;
        border-style: none none solid none;
        display: flex;
    }

    .courseName {
        font-size: 1.4rem;
        color: lightslategray;
    }

    .info>div>p {
        color: black;

    }

    .info>.courseCost {
        line-height: 0.7rem;
    }

    .instructor {
        color: gray;
    }

    .rate {
        color: orange;
        font-size: 1.2rem;
        line-height: 1rem;
    }

    .rateCount {
        color: gray;
        line-height: 1rem;
        margin-left: 1rem;
    }

    .img {
        width: 30rem;
        height: 17rem;
        margin-right: 1rem;
    }

    img {
        width: 100%
    }

    .filter {
        margin-bottom: 1rem;
    }

    .badge {
        font-size: 1rem;
    }
</style>
{{/section}}
{{#section 'js'}}
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script>

    $('#frmSearch').on('submit', function (e) {
        e.preventDefault();
        if (!$('input[name=p]').val()) {
            return;
        }
        $('#frmSearch').off('submit').submit();
    })
    $('select').on('change', function () {
        if (this.value == 'cost') {
            $('input[name=sort]').val('cost');
        }
        else if (this.value == 'rate') {
            $('input[name=sort]').val('rate');
        }
        $('#frmSearch').submit();
    });
</script>
{{/section}}
<div class="mainContent">
    {{#if this.empty}}
    <h1>Sorry, we couldn't find any results for "{{p}}"</h1>
    {{else}}

    {{#if this.isSearch}}
    <h1>{{formatCount this.total}} results for “{{this.p}}”:</h1>
    {{else}}
    <h1>All {{#each this.category}}
        {{CategoryName}} {{SubcategoryName}}
        {{/each}} Courses</h1>
    {{/if}}

    {{/if}}
    <div class="d-flex">
        <div class="content">
            {{#if this.isSearch}}
            {{#if this.empty}}
            {{else}}
            <div class="filter position-relative">
                <select class="form-control w-auto ">
                    <option disabled>Sort</option>
                    <option value="default" selected>Most Revelant</option>
                    <option value="rate" {{#if rate}} selected {{/if}}>Rating Decrease</option>
                    <option value="cost" {{#if cost}} selected {{/if}}>Cost Increase</option>
                </select>
            </div>
            {{/if}}
            {{/if}}
            {{#each this.course}}

            <a name="" id="" class="" href="/course/{{CourseName}}" role="button">
                <div class="courseCard">
                    <div class="img">
                        <img src="/public/{{CourseImage}}" alt="">
                    </div>
                    <div class="info w-100 d-flex">
                        <div style="padding-right: 20rem; width: 50rem;">
                            <p><b class="courseName">{{CourseName}}</b></p>
                            <p class="category">{{catName}}</p>
                            <p class="instructor">
                                {{lecturerName}}
                            </p>
                            <div class="d-block">
                                <div class="rate d-flex text-center">
                                    <b>{{formatRate rate}}</b>
                                    {{> ratingStar}}
                                    <div class="rateCount">
                                        ({{formatCount StudentCount}})
                                    </div>
                                </div>
                                {{#compare isBestSeller 1}}
                                <p class="badge badge-warning mt-5 text-left d-inline-block ">Bestseller</p>
                                {{/compare}}
                                {{#compare isNew 1}}
                                <p class="badge badge-danger mt-5 text-left d-inline-block ">New</p>
                                {{/compare}}
                            </div>
                        </div>
                        <div class="courseCost d-flex mt-4 text-right">
                            <p>
                                {{#compare SalePrice -1}}
                                <b> ${{formatMoney Price}}</b><br><br>
                                {{/compare}}
                                {{#compare SalePrice -1 operator=">"}}
                                <b> ${{formatMoney SalePrice}}</b><br><br>
                                <del>${{formatMoney Price}}</del>
                                {{/compare}}
                            </p>
                        </div>
                    </div>
                </div>
            </a>
            {{/each}}

        </div>
    </div>
    <nav class="float-right mt-4">
        <ul class="pagination">
            {{#if this.empty}}

            {{else}}
            {{#if isSearch}}


            <li class="page-item {{#if can_go_pre}}{{else}}disabled{{/if}}">
                <a class="page-link" href="?page={{pre_page}}{{searchParam}}">Previous</a>
            </li>
            {{#each this.page_items}}
            {{#if this.isActive}}
            <li class="page-item active"><a class="page-link" href="javascript:;">{{value}}</a></li>
            {{else}}
            <li class="page-item"><a class="page-link" href="?page={{value}}{{../searchParam}}">{{value}}</a></li>
            {{/if}}
            {{/each}}
            <li class="page-item {{#if can_go_next}}{{else}}disabled{{/if}}">
                <a class="page-link" href="?page={{next_page}}{{searchParam}}">Next</a>
            </li>


            {{else}}
            <li class="page-item {{#if can_go_pre}}{{else}}disabled{{/if}}">
                <a class="page-link" href="?page={{pre_page}}">Previous</a>
            </li>
            {{#each this.page_items}}
            {{#if this.isActive}}
            <li class="page-item active"><a class="page-link" href="javascript:;">{{value}}</a></li>
            {{else}}
            <li class="page-item"><a class="page-link" href="?page={{value}}">{{value}}</a></li>
            {{/if}}
            {{/each}}

            <li class="page-item {{#if can_go_next}}{{else}}disabled{{/if}}">
                <a class="page-link" href="?page={{next_page}}">Next</a>
            </li>
            {{/if}}
            {{/if}}


        </ul>
    </nav>
</div>